   {% comment %} pagination controls {% endcomment %}
   <div class="pagination">  

    <span class="step-links">

        {% if comments.has_previous %}
        <a href="?comment_page=1">&laquo; first</a>
        <a href="?comment_page={{ comments.previous_page_number }}">previous</a>
        {% endif %}

     <span class"current">
        Page {{ comments.number }} of {{ comments.paginator.num_pages }}
     </span>

     {% if comments.has_next %}
     <a href="?comment_page={{ comments.next_page_number }}">next</a>
     <a href="?comment_page={{ comments.paginator.num_pages }}">last</a>
     {% endif %}

    </span>
  </div>
