{% extends "registration/auth_base.html" %}
{% block title %}Reset Password | {{ block.super }}{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<script src="https://www.google.com/recaptcha/api.js?render={{ RECAPTCHA_PUBLIC_KEY }}"></script>

<div class="card-body">
  <p class="login-box-msg">Enter your email to reset your password.</p>

  <form id="reset-form" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    
    <div class="mt-4">
      <button type="submit" id="submit-btn" class="btn btn-primary btn-block shadow-sm position-relative">
        <span id="btn-text">Send reset email</span>
        <div id="btn-spinner" class="d-none position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </div>
      </button>
    </div>
  </form>

  <p class="mt-3 mb-1 text-center">
    <a href="{% url 'login' %}">Back to authorization</a>
  </p>
</div>

<script>
  document.getElementById('reset-form').addEventListener('submit', function(e) {
    if (this.checkValidity()) {
      const btnText = document.getElementById('btn-text');
      const btnSpinner = document.getElementById('btn-spinner');
      const submitBtn = document.getElementById('submit-btn');

      btnText.classList.add('invisible');
      btnSpinner.classList.remove('d-none');
      
      // Neizmantojam disabled=true, lai netraucētu Captcha datu sūtīšanu
      submitBtn.style.pointerEvents = 'none';
      submitBtn.style.opacity = '0.7';
    }
  });
</script>
{% endblock %}