{% extends "registration/auth_base.html" %}
{% block title %}Password Reset Complete | {{ block.super }}{% endblock %}

{% block content %}
<div class="card-body">
  <p class="login-box-msg">Success!</p>
  
  <div class="alert alert-success shadow-sm text-center">
    <i class="fas fa-check-circle d-block mb-2 fa-2x"></i>
    Your password has been set.
  </div>

  <div class="mt-4">
    <a href="{% url 'login' %}" class="btn btn-primary btn-block shadow-sm">
      Log in now
    </a>
  </div>
</div>
{% endblock %}