{% extends "registration/auth_base.html" %}
{% block title %}Reset Password | {{ block.super }}{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card-body">
  <p class="login-box-msg">Enter your email to reset your password</p>

  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    
    <div class="mt-4">
      <button type="submit" class="btn btn-primary btn-block shadow-sm">
        Send Password Reset Email
      </button>
    </div>
  </form>

  <p class="mt-3 mb-1">
    <a href="{% url 'login' %}">Back to Login</a>
  </p>
</div>
{% endblock %}