{% load static %}


<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="{% static "plugins/jquery/jquery.min.js" %}"></script>
<!-- Bootstrap -->
<script src="{% static "plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<!-- overlayScrollbars -->
<script src="{% static "plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js" %}"></script>
<!-- AdminLTE App -->
<script src="{% static "dist/js/adminlte.js" %}"></script>

<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<script src="{% static "plugins/jquery-mousewheel/jquery.mousewheel.js" %}"></script>
<script src="{% static "plugins/raphael/raphael.min.js" %}"></script>
<script src="{% static "plugins/jquery-mapael/jquery.mapael.min.js" %}"></script>
<!-- <script src="plugins/jquery-mapael/maps/usa_states.min.js"></script> -->
<script src="{% static "plugins/jquery-mapael/maps/usa_states.min.js" %}"></script>
<!-- ChartJS -->
<script src="{% static "plugins/chart.js/Chart.min.js" %}"></script>

<!-- AdminLTE for demo purposes -->
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
{% comment %} <script src="{% static "dist/js/pages/dashboard2.js" %}"></script> {% endcomment %}